.phone-info-main{
    padding: 2rem 0 0 0;
}

.phone-info-main .phone-info-inner{
    width:90vw;
    max-width: 50rem;
    margin: auto;
}

.phone-info-main:has(.phone-info-inner.error){
    min-height: 70vh;
}

.phone-info-inner .phone-image{
    width:100%;
    display: block;
    max-width: 50rem;
    margin: 2rem auto .5rem auto;
    aspect-ratio: 16/15;
    max-height: 40rem;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.phone-info-text > h2{
    font-weight: 600;
    font-size: 2.4rem;
    margin: 0 0 1rem 0;
}

.phone-info-text .other-phone-info{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2rem;
    margin: 0 0 3rem 0;
}

.single-phone-info h3{
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--primary-200);
}

.single-phone-info p{
    font-weight: 100;
    font-size: 1.6rem;
}

.single-phone-info small, .single-setting >small{
    font-size: 1rem;
    color: var(--text-secondary-color);
}


@media screen and (min-width:600px) {
    .phone-info-text > h2{
        text-align: center;
        margin: 2rem 0;
    }
}


@media screen and (min-width:1000px) {
    .phone-info-main .phone-info-inner{
        display: flex;
        align-items: center;
        column-gap: 2rem;
        height: 45rem;
        max-width: 130rem;
    }

    .phone-info-inner .phone-image{
        width:40rem;
        height: 40rem;
        margin: 0;
    }

    .phone-info-main .phone-info-inner.error{
        padding: 0 0 0;
        display: block;
        align-items: center;
        column-gap: 2rem;
        height: 40rem;
        max-width: 130rem;
    }

    .phone-info-inner .phone-info-text{
        max-width: 100%;
        flex:1;
    }

    .phone-info-text > h2{
        text-align: left;
        margin: 0 0 1rem 0;
    }

    .phone-info-text .other-phone-info{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
        width:100%;
        margin: 0 0 3rem 0;
    }
}