.homepage-main .popular-games h2{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 0;
    color: var(--text-secondary-color);
}

.homepage-main .all-games-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}