.homepage-main {
    background-color: var(--bg-color);
    min-height: calc(100vh - 14rem);
    color: #fff;
}

.homepage-main .homepage-body-inner{
    width:90%;
    max-width: 130rem;
    margin:auto;
}