.finished-modal-bg{
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: center;
}

.finished-modal-bg .finished-modal{
    background-color: var(--l1-elevation);
    width:90%;
    max-width: 40rem;
    padding: 1rem;
    border: 1px solid var(--l2-elevation);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.finished-modal .icon{
    font-size: 3rem;
    background-color: var(--l2-elevation);
    width: fit-content;
    padding: 2rem;
    margin: 0 auto 2rem;
    border: 1px solid var(--l3-elevation);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.finished-modal h3{
    font-size: 1.6rem;
    margin: 0 auto 1rem;
    text-align: center;
}

.finished-modal p {
    font-size: 1.4rem;
    width:70%;
    margin: 1rem auto;
    opacity : .8;
    text-align: center;
    color: var(--text-secondary-color);
    margin: 0 auto 2rem;
}

.finished-modal button{
    display: block;
    width:100%;
    color: var(--text-secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1.5rem;
    border: 1px solid var(--l3-elevation);
    background-color: transparent;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.finished-modal button:first-of-type{
    margin: 0 0 .8rem;
    background-color: var(--l2-elevation);
}