.single-game{
    column-gap: .8rem;
    display: flex;
    min-width: 300px;
    align-items: center;
}

.single-game > div{
    cursor: pointer;
}

.single-game .game-logo{
    height: 7rem;
    width: 7rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.single-game h3{
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0 0 .3rem 0;
}

.single-game .more-game-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
    max-width: 15rem;
}

.single-game .size .android-ios-size{
    display: flex;
    align-items:center ;
    justify-content: center;
    column-gap: .2rem;
}

.android-ios-size > div p{
    display: flex;
    column-gap: .3rem;
    align-items: baseline;
    flex: 1;
    justify-content: space-between;

    small{
        font-weight: 600;
        opacity: .7;
        font-size: .8rem;
    }
}

.android-ios-size hr{
    width: 1rem;
    color: var(--text-secondary-color);
    opacity: .8;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.more-game-text > div{
    display: flex;
    align-items: center;
    column-gap: .2rem;
}

.more-game-text div img{
    width:1.3rem;
}

.more-game-text div p{
    font-size: 1.1rem;
    color: var(--text-secondary-color);
}