.single-game{
    column-gap: .5rem;
    display: flex;
    min-width: 300px;
    align-items: start;
}

.single-game .game-logo{
    height: 7rem;
    width: 7rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.single-game h3{
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0 0 .3rem 0;
}

.single-game .more-game-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
    max-width: 15rem;
}

.more-game-text > div{
    display: flex;
    align-items: center;
    column-gap: .2rem;
}

.more-game-text div img{
    width:1rem;
}

.more-game-text div p{
    font-size: 1.1rem;
    color: var(--text-secondary-color);
}