.single-phone{
    max-width: 200px;
    align-items: start;
}

.single-phone .phone-image{
    width: 100%;
    object-fit: cover;
    height: 20rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.single-phone h3{
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0 0 .5rem 0;
}

.single-phone .more-phone-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
}

.more-phone-text > div{
    display: flex;
    align-items: center;
    column-gap: .2rem;
}

.more-phone-text div img{
    width:1.3rem;
}

.more-phone-text div p{
    font-size: 1.2rem;
    color: var(--text-secondary-color);
}