.single-phone{
    max-width: 100%;
    align-items: start;
}

.single-phone .phone-image{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9/17;
    height: 36rem;
    overflow: hidden;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    border: 1px solid var(--l3-elevation);
}

.single-phone .text{
    cursor: pointer;
}

.single-phone h3{
    font-weight: 500;
    font-size: 1.6rem;
    margin: .4rem 0 .5rem 0;
}

.single-phone .more-phone-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem 2rem;
}

.more-phone-text > div{
    display: flex;
    align-items: center;
    column-gap: .2rem;
}

.more-phone-text div img{
    width:1.3rem;
}

.more-phone-text div p{
    font-size: 1.2rem;
    color: var(--text-secondary-color);
}

@media screen and (min-width : 450px) {
    
    .single-phone .phone-image{
        max-height: 26rem;
    }
}