.all-games-from-submission-inner .single-submission-game{
    border-radius: .8rem;
    background-color: var(--l1-elevation);
    border: 1px solid var(--l3-elevation);
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.single-submission-game .game-name-heading{
    padding: .4rem;
    width:100%;
    background-color: var(--l2-elevation);
    margin: 0 0 1rem 0;

    h3{
        opacity: .6;
    }
}

.single-submission-game .submitted-game-info{
    background-color: var(--l2-elevation);
    width:97%;
    overflow: hidden;
    margin: 1rem auto;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.submitted-game-info .header{
    background-color: var(--l3-elevation);
    padding: .5rem;

    h3{
        opacity: .6;
        font-weight: 300;
    }
}

.submitted-game-info .other-info{
    padding: .5rem;

    p{
        font-size: 1.4rem;
        font-weight: 500;
    }

    img{
        height: 15rem;
        margin: .5rem 0 0 0;
        object-fit: cover;
        border-radius: .5rem;
        min-width: 100%;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
}
}